<h1>Movies</h1>
{{#each movies}}
  <div><ul>

      <h3>

        <li>
          {{title}} </h3>
          <img src={{image}} />
          <a href='/movies/{{id}}'> <p>See More!</p> </a>
        </li>

     
    </ul></div>
{{/each}}